In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("vocational_student_behavioral_dataset_V4.csv")
data.head()

,student_id,age,gender,socioeconomic_status,region,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,...,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage,overall_performance_score,performance_label
0,S1861,19,Male,High,West,59,6,66.079121,22.0,2,...,12,60,55,88.9,100.0,93.2,91.9,91.67,93.31,High
1,S0354,24,Female,Medium,South,19,9,52.658783,50.0,2,...,2,60,41,50.4,36.6,57.3,39.5,68.33,46.44,Low
2,S1334,23,Male,Medium,North,44,2,45.854387,10.0,2,...,4,60,48,77.6,74.2,66.8,71.5,80.00,71.85,High
3,S0906,23,Female,Medium,East,43,4,48.918866,76.0,0,...,4,60,52,76.8,63.7,74.7,70.0,86.67,71.51,Medium
4,S1290,17,Male,High,North,28,2,59.170770,31.0,3,...,4,60,47,69.5,67.1,67.9,68.5,78.33,68.24,Medium

In [3]:
data.columns

Index(['student_id', 'age', 'gender', 'socioeconomic_status', 'region',
       'total_logins', 'weekly_login_count', 'avg_session_duration',
       'resource_click_count', 'forum_posts', 'quiz_attempts_count',
       'video_watch_completion_rate', 'daily_internet_usage_mins',
       'edu_sites_visit_count', 'nonedu_sites_visit_count', 'peak_usage_time',
       'tab_switch_count', 'total_classes', 'classes_attended',
       'assignment_score_avg', 'quiz_score_avg', 'midterm_exam_score',
       'final_exam_score', 'attendance_percentage',
       'overall_performance_score', 'performance_label'],
      dtype='object')

In [4]:
data.shape

(2000, 26)

In [5]:
data.isnull().sum()

student_id                      0
age                             0
gender                          0
socioeconomic_status            0
region                          0
total_logins                    0
weekly_login_count              0
avg_session_duration           60
resource_click_count           60
forum_posts                     0
quiz_attempts_count             0
video_watch_completion_rate     0
daily_internet_usage_mins      60
edu_sites_visit_count           0
nonedu_sites_visit_count        0
peak_usage_time                 0
tab_switch_count                0
total_classes                   0
classes_attended                0
assignment_score_avg            0
quiz_score_avg                 60
midterm_exam_score              0
final_exam_score                0
attendance_percentage           0
overall_performance_score       0
performance_label               0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   student_id                   2000 non-null   object
 1   age                          2000 non-null   int64
 2   gender                       2000 non-null   object
 3   socioeconomic_status         2000 non-null   object
 4   region                       2000 non-null   object
 5   total_logins                 2000 non-null   int64
 6   weekly_login_count           2000 non-null   int64
 7   avg_session_duration         1940 non-null   float64
 8   resource_click_count         1940 non-null   float64
 9   forum_posts                  2000 non-null   int64
 10  quiz_attempts_count          2000 non-null   int64
 11  video_watch_completion_rate  2000 non-null   float64
 12  daily_internet_usage_mins    1940 non-null   float64
 13  edu_sites_visit_count        2000 non-null   int64
 14  nonedu_sites_visit_count     2000 non-null   int64
 15  peak_usage_time              2000 non-null   object
 16  tab_switch_count             2000 non-null   int64
 17  total_classes                2000 non-null   int64
 18  classes_attended             2000 non-null   int64
 19  assignment_score_avg         2000 non-null   float64
 20  quiz_score_avg               1940 non-null   float64
 21  midterm_exam_score           2000 non-null   float64
 22  final_exam_score             2000 non-null   float64
 23  attendance_percentage        2000 non-null   float64
 24  overall_performance_score    2000 non-null   float64
 25  performance_label            2000 non-null   object
dtypes: float64(10), int64(10), object(6)
memory usage: 406.4+ KB

In [7]:
data.dtypes

student_id                      object
age                              int64
gender                          object
socioeconomic_status            object
region                          object
total_logins                     int64
weekly_login_count               int64
avg_session_duration           float64
resource_click_count           float64
forum_posts                      int64
quiz_attempts_count              int64
video_watch_completion_rate    float64
daily_internet_usage_mins      float64
edu_sites_visit_count            int64
nonedu_sites_visit_count         int64
peak_usage_time                 object
tab_switch_count                 int64
total_classes                    int64
classes_attended                 int64
assignment_score_avg           float64
quiz_score_avg                 float64
midterm_exam_score             float64
final_exam_score               float64
attendance_percentage          float64
overall_performance_score      float64
performance_label               object
dtype: object

In [8]:
# Get columns where dtype is not object
numeric_columns = data.columns[data.dtypes != 'object']

print(numeric_columns)

Index(['age', 'total_logins', 'weekly_login_count', 'avg_session_duration',
       'resource_click_count', 'forum_posts', 'quiz_attempts_count',
       'video_watch_completion_rate', 'daily_internet_usage_mins',
       'edu_sites_visit_count', 'nonedu_sites_visit_count', 'tab_switch_count',
       'total_classes', 'classes_attended', 'assignment_score_avg',
       'quiz_score_avg', 'midterm_exam_score', 'final_exam_score',
       'attendance_percentage', 'overall_performance_score'],
      dtype='object')

In [9]:
# Keep only numeric columns in a new DataFrame
numeric_col_df = data.select_dtypes(exclude=['object'])

numeric_col_df.head()

,age,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,quiz_attempts_count,video_watch_completion_rate,daily_internet_usage_mins,edu_sites_visit_count,nonedu_sites_visit_count,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage,overall_performance_score
0,19,59,6,66.079121,22.0,2,3,1.00,177.0,25,10,12,60,55,88.9,100.0,93.2,91.9,91.67,93.31
1,24,19,9,52.658783,50.0,2,2,0.65,171.0,22,12,2,60,41,50.4,36.6,57.3,39.5,68.33,46.44
2,23,44,2,45.854387,10.0,2,4,0.97,105.0,24,10,4,60,48,77.6,74.2,66.8,71.5,80.00,71.85
3,23,43,4,48.918866,76.0,0,2,0.58,199.0,18,7,4,60,52,76.8,63.7,74.7,70.0,86.67,71.51
4,17,28,2,59.170770,31.0,3,2,0.40,253.0,20,10,4,60,47,69.5,67.1,67.9,68.5,78.33,68.24

In [10]:
y = numeric_col_df[["overall_performance_score"]]   # double brackets makes it a DataFrame
y.head()

   overall_performance_score
0                      93.31
1                      46.44
2                      71.85
3                      71.51
4                      68.24

In [11]:
X = numeric_col_df.drop(columns=["overall_performance_score"])
X.head()

,age,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,quiz_attempts_count,video_watch_completion_rate,daily_internet_usage_mins,edu_sites_visit_count,nonedu_sites_visit_count,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage
0,19,59,6,66.079121,22.0,2,3,1.00,177.0,25,10,12,60,55,88.9,100.0,93.2,91.9,91.67
1,24,19,9,52.658783,50.0,2,2,0.65,171.0,22,12,2,60,41,50.4,36.6,57.3,39.5,68.33
2,23,44,2,45.854387,10.0,2,4,0.97,105.0,24,10,4,60,48,77.6,74.2,66.8,71.5,80.00
3,23,43,4,48.918866,76.0,0,2,0.58,199.0,18,7,4,60,52,76.8,63.7,74.7,70.0,86.67
4,17,28,2,59.170770,31.0,3,2,0.40,253.0,20,10,4,60,47,69.5,67.1,67.9,68.5,78.33

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [13]:
X_train.head(2)

,age,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,quiz_attempts_count,video_watch_completion_rate,daily_internet_usage_mins,edu_sites_visit_count,nonedu_sites_visit_count,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage
836,20,12,1,43.762711,88.0,3,2,0.50,180.0,30,7,4,60,35,44.7,57.3,38.1,52.5,58.33
575,19,25,3,50.304898,48.0,5,3,0.52,220.0,23,5,6,60,48,68.4,71.1,79.7,71.0,80.00

In [14]:
y_train.head(2)

     overall_performance_score
836                      47.58
575                      73.11

In [15]:
from sklearn.preprocessing import MinMaxScaler           # Min-Max Scaling (values scaled to [0,1])

minmax_scaler = MinMaxScaler()
X_train_minmax = minmax_scaler.fit_transform(X_train)
X_test_minmax  = minmax_scaler.transform(X_test)

In [16]:
import pandas as pd                                      # back in form of DataFrames 

X_train_minmax = pd.DataFrame(X_train_minmax, columns=X_train.columns, index=X_train.index)
X_test_minmax  = pd.DataFrame(X_test_minmax, columns=X_test.columns, index=X_test.index)

X_train_minmax.head(2)

,age,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,quiz_attempts_count,video_watch_completion_rate,daily_internet_usage_mins,edu_sites_visit_count,nonedu_sites_visit_count,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage
836,0.428571,0.028112,0.00,0.475342,0.876404,0.272727,0.333333,0.285714,0.400000,0.785714,0.304348,0.230769,0.0,0.172414,0.078464,0.390000,0.115714,0.269646,0.172357
575,0.285714,0.080321,0.25,0.567448,0.426966,0.454545,0.666667,0.314286,0.533333,0.535714,0.217391,0.384615,0.0,0.620690,0.474124,0.587143,0.710000,0.554700,0.620732

In [17]:
from sklearn.preprocessing import  StandardScaler                # Mean Normalization (Standardization: mean=0, std=1)

standard_scaler = StandardScaler()
X_train_standard = standard_scaler.fit_transform(X_train)
X_test_standard  = standard_scaler.transform(X_test)

In [18]:
X_train_standard = pd.DataFrame(X_train_standard, columns=X_train.columns, index=X_train.index)
X_test_standard  = pd.DataFrame(X_test_standard, columns=X_test.columns, index=X_test.index)

X_train_standard.head(2)

,age,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,quiz_attempts_count,video_watch_completion_rate,daily_internet_usage_mins,edu_sites_visit_count,nonedu_sites_visit_count,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage
836,-0.198459,-0.929963,-1.629276,-0.078186,1.299094,0.007216,-0.437227,-0.733201,-0.006659,2.277189,-0.926516,-0.877556,0.0,-1.315259,-1.334456,-0.389573,-1.406788,-0.809379,-1.315497
575,-0.631912,-0.358470,-0.851180,0.557129,-0.252957,1.195673,0.442253,-0.633475,0.662858,0.687019,-1.551334,-0.371447,0.0,0.131741,-0.049862,0.296536,0.592439,0.135011,0.131734

In [19]:
from sklearn.preprocessing import MaxAbsScaler                     # Max Absolute Scaling (scales by max abs value)

maxabs_scaler = MaxAbsScaler()
X_train_maxabs = maxabs_scaler.fit_transform(X_train)
X_test_maxabs  = maxabs_scaler.transform(X_test)

In [20]:
X_train_maxabs = pd.DataFrame(X_train_maxabs, columns=X_train.columns, index=X_train.index)
X_test_maxabs  = pd.DataFrame(X_test_maxabs, columns=X_test.columns, index=X_test.index)

X_train_maxabs.head(2)

,age,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,quiz_attempts_count,video_watch_completion_rate,daily_internet_usage_mins,edu_sites_visit_count,nonedu_sites_visit_count,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage
836,0.833333,0.047244,0.111111,0.540092,0.888889,0.272727,0.50,0.50,0.500000,0.833333,0.304348,0.285714,1.0,0.593220,0.447447,0.573,0.381,0.525526,0.593207
575,0.791667,0.098425,0.333333,0.620831,0.484848,0.454545,0.75,0.52,0.611111,0.638889,0.217391,0.428571,1.0,0.813559,0.684685,0.711,0.797,0.710711,0.813587

In [21]:
from sklearn.preprocessing import RobustScaler             # Robust Scaling (uses median & IQR)

robust_scaler = RobustScaler()
X_train_robust = robust_scaler.fit_transform(X_train)
X_test_robust  = robust_scaler.transform(X_test)

In [22]:
X_train_robust = pd.DataFrame(X_train_robust, columns=X_train.columns, index=X_train.index)
X_test_robust  = pd.DataFrame(X_test_robust, columns=X_test.columns, index=X_test.index)

X_train_robust.head(2)

,age,total_logins,weekly_login_count,avg_session_duration,resource_click_count,forum_posts,quiz_attempts_count,video_watch_completion_rate,daily_internet_usage_mins,edu_sites_visit_count,nonedu_sites_visit_count,tab_switch_count,total_classes,classes_attended,assignment_score_avg,quiz_score_avg,midterm_exam_score,final_exam_score,attendance_percentage
836,0.00,-0.633333,-1.0,-0.056700,0.772727,0.0,0.000000,-0.428571,0.000000,1.666667,-0.75,-0.500000,0.0,-0.8125,-0.699222,-0.210373,-0.838371,-0.459478,-0.812523
575,-0.25,-0.200000,-0.5,0.417385,-0.136364,1.0,0.333333,-0.371429,0.481928,0.500000,-1.25,-0.214286,0.0,0.0000,-0.028309,0.192841,0.254928,0.036169,0.000000